.input-container {
    display: flex;
    flex-direction: row;
    width: 1222px;
    height: 184px;
    top: 577px;
    left: 253px;
    padding: 64px;
    border-radius: 16px;
    border: 1px;
    gap: 4px;

}