.featured-event-container {
    height: 622px;
    width: 50%;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-radius: 16px;
    margin-bottom: 24px;
    
}
.featured-event-container img {
    height: 463px;
    width: 100%;
    color: rgba(217, 217, 217, 1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
}
.featured-event-card-details {
    height: 159px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px, 32px;
}
.featured-card-details {
    display: flex;
    position: relative;
    margin-top: 64px;
    justify-content: space-between;
    padding: 32px 32px;
    gap: 16px;
    /* align-items: center; */

}
.price {
    font-weight: 700;
    font-style: Inter;
    font-size: 20px;
}
.name {
    font-weight: 500;
    font-style: Inter;
    font-size: 20px;
    display: flex;
}
.location-1 {
    display: flex;
    position: relative;
    margin-bottom: 128px;
    font-weight: 400;
    font-size: 14px;
    font-style: Inter;
    gap: 16px;
   
}
.discount {
    /* display: flex; */
    border-radius: 24px;
    width: 14%;
    color: rgba(234, 211, 232, 1)
}
